.form-component {
  padding-inline: 200px;
}

.form-component .container {
  position: relative;
  height: 100%;
}

.form-component .container .card {
  position: absolute;
  top: 50%;
  display: flex;
  transform: translate(0%, -50%);
  width: 100%;
}

.form-component .container .card .card-body {
  padding: 24px;
  flex-direction: column;
  gap: 15px;
}

.form-floating .form-control {
  padding: 16px;
}

.form-floating .form-label {
  padding-inline: 16px;
}

.flight-radio {
  gap: 32px;
}

.form-floating .icon-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  top: 16px;
  right: 16px;
  color: #c4c4c4;
}

.form-control-icon.dari-icon {
  transform: rotate(45deg);
}

.form-control-icon.ke-icon {
  transform: rotate(135deg);
}

.card-body.d-flex .row {
  gap: 24px;
  padding-inline: 16px;
}

.card-body .row > * {
  padding: 0;
}

.form-select {
  background-image: none;
}

.btn-primary {
  background-color: #00aced;
  border: #00aced 1px solid;
}
